.dashboard-content{
    margin-top: 10px;
    margin-left: 280px;
    margin-right: 30px;
    height: auto;
    transition: 0.6s ease;
  }

  .div-1{
    width: 100%;
    display: flex;
  }

  .profile{
    width: 100%;
    max-width: 330px;
    height: auto;
    border: 1px solid #ba54f5;
    border-radius: 4px;
    background-color: #27293d;
  }

  #profile{
    background-color: transparent;
    height: 180px;
    display: flex;
    justify-content: center;
  }

  #image-holder-1{
    background-color: #27293d;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 60px;
    border: 3px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  #image-holder-1 img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
  }

  #profile-background{
    position: relative;
    height: 178px;
    max-width: 330px;
    width: auto;
    margin-top: -180px;
  }

  #profile-background img{
    height: 100%;
    width: 100%;
  }

  .name-1{
    margin: 20px;
  }
#text-1{
  color: whitesmoke;
  text-align: center;
}

.name-1 ul{
  margin-top: 30px;
}

#text-2, #links{
  color: whitesmoke;
  margin: 5px 10px;
  font-size: 15px;
  display: flex;
  align-items: baseline;
}

#text-2 i, #links i{
  margin-right: 10px;
  font-size: 20px;
}

#links a{
  color: whitesmoke;
}

#links a:hover{
  text-decoration: underline;
}

#text-3{
  color: whitesmoke;
  margin: 10px;
}

.discription-container{
  background-color: #27293d;
  margin-left: 30px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}


  /* responsive less then 1100 px device  */
@media only screen and (max-width: 1100px){
    .dashboard-content{
      top: 60px;
      margin-left: 30px;
    }
    
    }
    
   
    
    /* responsive less then 700 px device  */
    @media only screen and (max-width: 700px){
    .dashboard-content{
      margin-left: 20px;
      margin-right: 20px;
    }

    .div-2{
        padding: 0px;
      }
    
    }