:root {
  --background: #1e1e2f;
  --dark-box-background: #27293d;
  --white-text: rgba(255, 255, 255, 0.8);
  --pink: #e14eca;
  --mixed-pink: linear-gradient( #e14eca, #ba54f5);
  --purple: #640164;
  --dark-text: rgb(154, 154, 154);
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  outline: 0;
  appearance: none;
  list-style: none;
}

body{
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: auto;
  font-family: 'Poppins',sans-serif;
  user-select: none;
  overflow-x: hidden;
}

/* content starts */
.main{
  position: absolute;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  background-color: var(--background);
}

/* navbar */
.navbar{
  background-color: var(--background);
  height: 60px;
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
}

.navbar a{
  height: 50px;
  width: auto;
  margin-left: 20px;
}

.navbar a img{
  height: 100%;
  width: auto;
}

/* registercontent */
.content-main{
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background-color: var(--background);
  min-height: 550px;
}

.content{
  background-color: white;
  max-width: 330px;
  width: 100%;
  background-color: var(--dark-box-background);
  border-radius: 5px;
  height: auto;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.content h1{
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: var(--white-text);
}

.content form{
  margin: 20px 0px;
}

.content-1{
  width: 100%;
}

.text{
  text-align: justify;
  color: var(--white-text);
  font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--white-text) !important;
}

.input-box{
  display: block;
  margin: 5px 0px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 5%;
  border: 1px solid #2b3553;
  background: transparent;
  color: white;

}

.error{
  color: red;
  padding: 2px 0px;
  text-align: center;
  font-size: 14px;
}

#check-box-1{
  display: none;
}

.show-password{
  margin-top: -36px;
  height: auto;
  margin-right: 15px;
  width: 20px;
  float: right;
}

.show-password i{
  color: var(--white-text);
  cursor: pointer;
}

#check-box-1{
 display: none;
}

.bi-eye{
  display: none;
}

.content-2{
  margin-top: 10px;
  display: flex;
}

#remember_me{
  margin-right: 10px;
}

.content-2 label{
  cursor: pointer;
}

.button-1{
  margin-top: 20px;
  height: 45px;  
   width: 100%;
   border-radius: 5px;
   border: solid;
   border-color: #03e9f4;
   border-width: 2px;
   color: #03e9f4;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background-color: var(--dark-box-background);
}

.button-1:hover{
  background-color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  color: #1e1e2f;
}

.content-3{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.content-3 a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--white-text);
}

.content-3:hover{
  text-decoration: underline;
}
/* content ends */

/* footer */
.footer{
  background-color:  var(--background);
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 50px;
  color: var(--white-text);
}

/* responsive less then 1100 px device  */
@media only screen and (max-width: 1100px){

/* content starts */
/* navbar */
.navbar{
  height: 50px;
}

.navbar a{
  height: 40px;
}

/* login content */

.content{
  margin: 0px 10px;
}
/* content ends */

/* footer */
.footer{
  margin-top: 0px;
}

}

/* responsive less then 500 px device  */
@media only screen and (max-width: 500px){
  .content{
    background-color: var(--background);
    box-shadow: none;
  }

}